/* body {background-color: #eee;} */
/* 헤더 */
/* 헤더 - 네비게이션 */
header {
    z-index: 999;
    width: 100%;
    position: fixed;
}
header nav {
    padding: 0 16px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    
}
header nav .nav_whith_bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 300px;
    transition: height 0.3s ease 0s;
}
header nav h1 {position: relative;}
header nav .gnb {display: flex;}
header nav .gnb > li {
    position: relative;
    padding-right: 100px;
}
header nav .gnb > li > a {
    display: block;
    line-height: 40px;
    font-weight: 700;
}
header nav .gnb > li .lnb {
    display: none;
    width: 100%;
    top: 55px;
    position: absolute;
    background-color: #fff;
}
header nav .gnb > li .lnb li {}
header nav .gnb > li .lnb li a {
    display: inline-block;
    line-height: 30px;
}
header nav .gnb li .lnb li a img {width: 100%;}
header nav .snb {
    display: flex;
    position: relative;
}
header nav .snb li {}
header nav .snb li a {
    display: block;
    margin-left: 10px;
    width: 20px;
    height: 24px;
    background-image: url("../images/ico_header.png");
    background-repeat: no-repeat;
}
header nav .snb li:first-child a {
    display: none;
    width: 24px;
    background-image: url("../images/m_nav_icon.png");
    background-size: cover;
}
header nav .snb li:last-child a {background-position: right top;}
/* 메인 */
/* 메인 - 비주얼 */
main .main_visual {
    z-index: 10;
    position: relative;
    padding-top: 100px;
    height: 100vh;
    background-image: url("../images/visual.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    text-align: center;
    color: #fff;
}
main .main_visual h1 {
    font-size: 5rem;
    font-weight: 700;
}
main .main_visual p {
    margin: 20px 0;
    font-size: 1.2rem;
}
main .main_visual .main_btn {}
main .main_visual .main_btn a {
    display: inline-block;
    padding: 10px 20px;
    background: #002c5f;
    color: #fff;
}
main .main_visual .scroll_mouse {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    animation: move_mouse 1s linear infinite alternate;
}
@keyframes move_mouse {
    0% {bottom: 10%;}
    100% {bottom: 13%;}
}
main .main_visual .scroll_mouse img {
    filter: invert(1);
    width: 100%;
}
/* content02 */
main .content02 {
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
}
main .content02 .left_txt {width: 500px;}
main .content02 .left_txt .top {
    font-size: 2.5rem;
    line-height: 1.2;
}
main .content02 .left_txt .top em {font-weight: 700;}
main .content02 .left_txt .btm {
    color: #888;
    font-size: 1.3rem;
    line-height: 1.3;
}
main .content02 .con02_list {
    display: flex;
    padding-bottom: 25px;
    width: calc(100% - 500px);
    overflow-y: hidden;
}
main .content02 .con02_list li {
    margin-right: 30px;
}
main .content02 .con02_list li:last-child {margin: 0}
main .content02 .con02_list li a p {
    margin-bottom: 5px;
}
main .content02 .con02_list li a h2 {
    font-size: 1.3rem;
    color: #002c5f;
    line-height: 1.5;
}
main .content02 .con02_list li a h2 span {
    margin-left: 5px;
    padding: 5px;
    background: #002c5f;
    color: #fff;
    font-size: 0.91rem;
    display: inline-block;
}
main .content03 {
    position: relative;
    padding-top: 250px;
    height: 80vh;
}
main .content03 p:first-child{
    font-size: 15rem;
    font-weight: 900;
    color: #ddd;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    z-index: 90;
}
main .content03 p:last-child{
    width: 100%;
    position: absolute;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    text-align: center;
}
main .content04 {

}